.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.big-button {
  margin: 150px 20px;
  display: inline-block;
  padding: 30px 100px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  transition: 0.2s;
  cursor: pointer;
}
.big-button:hover {
  color: #444;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.5);
}
.whiteboard {
  background-color: #fff;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.6));
}
#recent-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1260px;
}
#boards {
  display: flex;
  flex-wrap: wrap;
}
.board {
  position: relative;
  margin: 10px;
}
.hidden {
  display: none;
}
#recent-title {
  color: #444;
  font-weight: bold;
  font-size: 30px;
  margin-left: 10px;
}
.created {
  color: #b1a5a5;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
}
