* {
  box-sizing: border-box;
}
textarea {
  border: 1px solid lightgray;
  display: block; /* for zero padding of chrome */
}

html,
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  width: 1600px;
  height: 1220px;
  margin: 0;
  padding: 0;
  background-color: cadetblue;
}

#whiteboard {
  position: absolute;
  top: 20px;
  left: 0px;
  margin: 10px;
  background-color: white;
}

#menu {
  height: 27px;
  margin: 2px 2px 2px 10px;
  display: flex;
  align-items: center;
  color: white;
}
#title {
  font-weight: bold;
}
#clear-button {
  margin-left: 50px;
  cursor: pointer;
}
#form-signature {
  padding-left: 20px;
}

.tools {
  position: fixed;
  top: 50px;
  left: 20px;
  z-index: 2000;
}

.colors,
.stickers {
  margin-bottom: 20px;
}

.color,
.sticker {
  text-align: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.color > i,
.sticker > i {
  vertical-align: sub;
}
.color:hover,
.sticker:hover {
  background-color: #4cdbc4;
}

.color.black {
  color: black;
}
.color.red {
  color: red;
}
.color.green {
  color: green;
}
.color.blue {
  color: blue;
}
.color.gold {
  color: gold;
}
.color.white {
  color: black;
}

.sticker.hotpink {
  color: hotpink;
}
.sticker.gold {
  color: gold;
}

#sticky-note-container {
  position: relative;
}

.note {
  cursor: move;
  position: absolute !important;
  z-index: 1000;
  padding: 0px 5px 5px 5px;
}
.note:hover {
  background-color: crimson;
}
.note.hidden {
  display: none;
}

.delete-note {
  font-size: 10px;
  float: right;
  cursor: pointer;
  padding: 5px;
  color: white;
  visibility: hidden;
}
.note:hover .delete-note {
  visibility: visible;
}

.note .expanding {
  resize: both !important;
}
